/* MDN REFERENCE: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units */

/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* BASE STYLING - FONT and COLOUR */
body {
    background: #0f4c5c;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}


.intro {
    margin: auto;
    max-width: 80%;
    background: #07262d;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
}

.intro h1 {
    text-decoration: underline
}

.em {
    margin: 20px auto;
    max-width: 80%;
    background: #07262d;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    color: gold;
}

.em h2 {
    text-decoration: underline;
    font-size: 10em;
}

.rem {
    margin: 20px auto;
    max-width: 80%;
    background: #07262d;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    color: cyan
}

.rem h2 {
    text-decoration: underline;
}

.em {
    font-size: 20px;
}